<!DOCTYPE html>
<html>
    <head>
        <title>goytdler - Simple webinterface to use youtube-dl</title>
    </head>
    <body>
        <h1>goytdler</h1>
        <p>Simple webinterface to use youtube-dl.</p>
        <hr>
        <h2>Error</h2>
        <p>Bad request</o>
    </body>
</html>
